/*
 * @file mulit fonts.css
 * @description 字体文件
 * @author BTMuli <bt-muli@outlook.com>
 * @since 2023-06-13
 */

@font-face {
    font-family: "Genshin";
    src: url("汉仪文黑-85W.ttf") format("truetype");
}

@font-face {
    font-family: "Genshin-Light";
    src: url("汉仪文黑-55W.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono Italic";
    src: url("JetBrainsMono-Italic.ttf") format("truetype");
}