/*
 * @file mulit.css
 * @description 主题文件
 * @author BTMuli <bt-muli@outlook.com>
 * @since 2023-12-25
 */

/* 字体文件 */
@import url("mulit/fonts.css");

/* 代码高亮主题文件 */
@import url("mulit/code-onedark.css");

/* root */
:root {
  /* 字体 */
  --font-title: "JetBrains Mono", "Genshin", serif;
  --font-text: "JetBrains Mono", "Genshin-Light", sans-serif;
  --font-italic: "JetBrains Mono Italic", "Genshin-Light", sans-serif;
  --font-bold: "JetBrains Mono Bold", "Genshin", serif;

  /* 背景 */
  --bg-box: #f5f7f9;
  --bg-code-lang: #3b4048;
  --bg-table: #efefef;
  --bg-table-head: #abb2bf;

  /* 文字 */
  --text-color: #282c34;
  --link-color: #41a5ee;
  --note-color: #21252b;

  /* border */
  --border-title: #323844;
  --border-quote: #abb2bf;
  --border-note: #fff;
  --border-code: #959595;
  --border-table: #21252b;
  --li-mark-color: #5098f6;
}

/* body */
body {
  height: 100%;
  color: #282c34;
  font-family: var(--font-text);
}

/* 编辑区域 */
#write {
  position: static;
  max-width: 1600px;
  padding: 30px 30px 100px;
  margin: 1rem auto 0;
  font-size: 16px;
}

#write.first-line-indent li {
  margin-left: 1rem;
}

/* content */
h1 {
  border-bottom: 1px solid var(--border-title);
  font-family: var(--font-title);
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

h2,
h3,
h4 {
  padding-left: 1rem;
  border-radius: 0.3rem;
  border-left: 4px solid var(--border-title);
  font-family: var(--font-title);
  font-weight: normal;
  line-height: 1.5;
}

p {
  font-size: 16px;
}

a {
  color: var(--link-color);
  text-decoration: none !important;
  transition-duration: 0.3s;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline !important;
}

li::marker {
  color: var(--li-mark-color);
  font-family: var(--font-title);
  font-size: 16px;
}

/* 倾斜 */
em {
  font-family: var(--font-italic);
  font-style: italic;
}

/* 加粗 */
strong {
  font-family: var(--font-bold);
}

/* 分隔线 */
hr {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background-color: var(--border-quote);
}

/* front-matter */
#write pre.md-meta-block {
  padding: 1rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: var(--bg-box);
  color: var(--text-color);
  font-family: var(--font-text);
  font-size: 14px;
  line-height: 1.45rem;
}

/* TOC */
.md-toc-h2 .md-toc-inner {
  margin-left: 1rem;
}

.md-toc-h3 .md-toc-inner {
  margin-left: 2rem;
}

.md-toc-h4 .md-toc-inner {
  margin-left: 3rem;
}

/* block-quote */
blockquote {
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  border-left: 4px solid var(--border-quote);
  background-color: var(--bg-box);
}

/* img ![]() */
.md-image {
  max-width: 96%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 40%);
}

#write.first-line-indent p > .md-image:only-child:not(.md-img-error) img {
  left: 0;
}

/* foot-note */
sup.md-footnote {
  margin-left: 0.3rem;
  background: linear-gradient(145deg, #cfd6dc, #f6ffff);
  box-shadow:
    3px 3px 6px #c4cacf,
    -3px -3px 6px #fff;
  color: var(--note-color);
  font-family: var(--font-title);
}

.md-def-footnote {
  font-family: var(--font-title);
}

.md-def-name {
  padding-right: 3ch;
  padding-left: 2ch;
}

/* mermaid 预览 */
.md-fences-adv-panel {
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 40%);
}

/* table 表格 */
table {
  overflow: auto;
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: var(--font-text);
  font-size: 16px;
  text-align: center;
}

table th {
  background: var(--bg-table-head);
  font-family: var(--font-title);
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid var(--border-table);
}

table tr:nth-child(2n) {
  background-color: var(--bg-table);
}
